/* Navbar */
.navbar { 
    grid-area: nav;
    display: flex;
    justify-content: flex-end;
    background-color: #C97C5D;
    
}

nav {
    display: flex;
    
}

/* header {
    display: flex;
} */

a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif; 
    color: #0C0F0A;
}

a:hover {
    color: #263d42;
}

a:active {
    color: #263D42;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: row;   
    align-items: flex-end;
}

li {
    padding: 10px;   
}
